body {
  background-color:rgb(0, 0, 0)
}
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: sticky; /* Set the navbar to fixed position */
    top: 5px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding-bottom: 10px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    display: block;
    font-family: Exo;
    color: #9c9c9c;
    text-align: left;
    padding: 14px 16px;
    text-decoration-line: underline; /*Underlines the page names in the Nav bar */
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    color: rgb(255, 255, 255);
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
    
  }
  .logo {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    margin-left: 0 px
  }
  .text {
    position: relative;
    z-index: 10;
  }
  .text h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1em;
  }
  
  .text h3 {
    font-size: 2.5em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
  }
  
  .text p {
    font-size: 1.1em;
    color: #fff;
    margin: 1.25em 0;
    font-weight: 400;
  }